*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #2d7180;
    height: 10vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    background-image:url(image/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -9999px;
}
main{
    background-color: #e0ffff;
    padding: 20px;
}
.state img{
    width: 35%;
    border-radius: 30px;
    border: 3px solid #2d7180;
}
.state div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
footer{
    color: #e0ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d7180;
    border-radius: 0px 0px 20px 20px;
    height: 5vh;
    width: 100%;
}