*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #2d7180;
    height: 8vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    background-image:url(image/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -9999px;
}
main{
    background-color: #e0ffff; 
    height: 78vh;     
    flex-direction: column;
    padding-top: 80px;
}
.state img{
    width: 50%;
    border-radius: 30px;
    border: 3px solid #2d7180;
    margin: 30px;
}
.state div{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.opening{
    color: #2d7180;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening h2{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening p{
    font-size: 18px;
}
footer{
    background-color: #2d7180;
    border-radius: 0px 0px 20px 20px;
    height: 5vh;
    width: 100%;
    position: relative;
    background-image:url(image/copy-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
p{
   color: #2d7180; 
}
/* 響應式設計語法 */
@media screen and (max-widt:1920px){
header{
    height: 10vh;
    background-size: 25%;
}
main{
    padding: 5px; 
}
.state{
    padding-top: 130px;
}   
.state img{
    width: 0%;
    border-radius: 30px;
    border: 5px solid #2d7180;
}
.state div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
footer{
    background-size: 35%;
}
}
